.login_container {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.tes {
    background-color: red;
}

.card {
    margin: 64px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 580px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    color: black;
}

.card>div>p {
    font-size: 36px;
    font-weight: bold;
    margin: 0%;
    margin-bottom: 24px;
}

.icon {
    height: 120px;
    width: 120px;
    margin-bottom: 16px;
}

.container_input {
    margin-top: 16px;
    margin-bottom: 16px;
}

.input_form:focus {
    outline: none;
    box-shadow: 0 0 5px #4CBB17;
}

.input_form {
    background-color: white;
    border-radius: 10px;
    border-color: white;
    height: 30px;
    width: 50%;
    text-align: center;
}

.button {
    background-color: #4CBB17;
    border-radius: 10px;
    transition: 0.3s;
    width: 50%;
    border: none;
    margin-top: 16px;
}

.button:hover {
    background-color: #3c9712;
}

.button>p {
    color: white;
    font-size: 14px;
    margin: 16px;
}