.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252323;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 580px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    color: white;
}

.left>p {
    font-size: 36px;
    font-weight: bold;
    margin: 0%;
    margin-bottom: 24px;
}

.icon {
    height: 120px;
    width: 120px;
    margin-bottom: 16px;
}

.login_input_name {
    margin-bottom: 8px;
}

.title {
    text-align: left;
    margin-bottom: 1%;
}

input::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: poppins, sans-serif;
    color: #7A7A7A;
}

.placeforname {
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 250px;
}

.placeforemail {
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    margin-bottom: 32px;
}

.button {
    background-color: #4CBB17;
    border-radius: 5px;
    transition: 0.3s;
    height: 32px;
    width: 88px;
    border: none;
}

.button:hover {
    background-color: #3c9712;
}

.button>p {
    color: white;
    font-size: 14px;
    margin: auto;
}