.container {
    background-color: #4CBB17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.opsions {
    display: flex;
    gap: 40px;
    margin-right: 32px;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.logo {
    margin-left: 32px;
}