*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin-top: 32px;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_transaction {
    padding-top: 32px;
    padding-bottom: 32px;
    width: 80%;
    background-color: green;
    border-radius: 30px;
}

.container_menu {
    margin-top: 16px;
    display: grid;
    width: 80%;
    gap: 64px;
    grid-template-columns: auto auto;
    height: 500px;
}
.menu {
    background-color: aquamarine;
    border-radius: 30px;
}

.detail_menu {
    background-color: blue;
    border-radius: 30px;
}